* {
	font-size: 12px;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	height: 500px;
	width: 400px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

#tabs {
	display: flex;
	margin: 0;
	padding: 0;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #333;
	display: flex;
	justify-content: space-between;
}

#footer a {
	display: inline;
	margin: 0 20px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
    text-decoration: none;
	color: black;
}

.tab {
	display: inline-block;
	margin: 0;
	text-align: center;
	font-weight: bold;
	background-color: white;
	color: black;
	cursor: pointer;
	outline: none;
	border: none;
    text-decoration: none;
	flex: 1;
}

.tab img {
	border: none;
}

.tab:not(.active-tab):hover {
	background-color: #666;
	color: white;
}

.active-tab {
	background-color: #222;
	color: white;
}

.tab-name {
	padding: 5px 0;
	margin-bottom: 5px;
}

.tab-name span {
	font-size: 1.4em; 
	font-weight: bold;
}

.tab-content {
	margin: 5px 10px;
	text-align: center;
	background-color: white;
}

#icon-playback {
	background: url('../images/sprites-options.png') 0px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-playback, .tab:not(.active-tab):hover #icon-playback {
	background: url('../images/sprites-options.png') 0px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-acceleration {
	background: url('../images/sprites-options.png') -28px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-acceleration, .tab:not(.active-tab):hover #icon-acceleration {
	background: url('../images/sprites-options.png') -28px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-account {
	background: url('../images/sprites-options.png') -56px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-account, .tab:not(.active-tab):hover #icon-account {
	background: url('../images/sprites-options.png') -56px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-settings {
	background: url('../images/sprites-options.png') -84px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-settings, .tab:not(.active-tab):hover #icon-settings {
	background: url('../images/sprites-options.png') -84px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-colors {
	background: url('../images/sprites-options.png') -112px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-colors, .tab:not(.active-tab):hover #icon-colors {
	background: url('../images/sprites-options.png') -112px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-information {
	background: url('../images/sprites-options.png') -140px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-information, .tab:not(.active-tab):hover #icon-information {
	background: url('../images/sprites-options.png') -140px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-filters {
	background: url('../images/sprites-options.png') -168px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-filters, .tab:not(.active-tab):hover #icon-filters {
	background: url('../images/sprites-options.png') -168px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-community {
	background: url('../images/sprites-options.png') -196px 2px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-community, .tab:not(.active-tab):hover #icon-community {
	background: url('../images/sprites-options.png') -196px 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.jscolor {
	border: 1px solid black;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	border: none;
}

table th {
	text-align: center;
}

.fancy-table tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 0;
}

.fancy-table td {
	padding: 10px;
}

.fancy-table td:first-child {
	/* border-left: 1px solid black; */
	padding: 5px;
}

.fancy-table td:last-child {
	/* border-right: 1px solid black; */
	padding: 5px;
}

#acceleration-settings th {
	border: 1px solid black;
	padding: 2px 5px;
}

#acceleration-settings td {
	border: 1px solid black;
	padding: 5px;
}

input {
	font-family: courier; 
	text-align: center;
	border: none;
	border-bottom: 1px solid black;
}

label {
	word-wrap: break-word;
}

label input {
	vertical-align:middle;
}

.icon-play {
	width: 0;
    height: 0;
    border-width: 10px 0 10px 16px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 7px 9px
}

.icon-rewind {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid;
    margin: 7px;
}

.icon-rewind :before {
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid;
}

#tutorial {
	text-align: center;
}

#tutorial-header {
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	padding-top: 4px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	
	color: white;
	background-color: #333;
}

#tutorial-image {
	
}

#tutorial-finish {
   border-top: 1px solid #96d1f8;
   background: #145fa1;
   background: -webkit-gradient(linear, left top, left bottom, from(#0073ff), to(#145fa1));
   background: -webkit-linear-gradient(top, #0073ff, #145fa1);
   background: -moz-linear-gradient(top, #0073ff, #145fa1);
   background: -ms-linear-gradient(top, #0073ff, #145fa1);
   background: -o-linear-gradient(top, #0073ff, #145fa1);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
}

#tutorial-finish:hover {
   border-top-color: #000fb5;
   background: #000fb5;
   color: #ffffff;
}

#tutorial-finish:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.tooltip {
	border-radius: 2px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 5px;
	background: white;
	width: 350px;
	cursor: default;
	text-align: justify;
}

