* {
	font-size: 12px;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	height: 500px;
	width: 400px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

#tabs {
	margin: 0;
	padding: 0;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #333;
}

#footer a {
	display: inline;
	margin: 0;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
    text-decoration: none;
	margin: 0 10px;
	color: black;
}

#icon-github {
	background: url('sprites.png') 0px -70px;
	display: inline-block;
	height: 36px;
	width: 32px;
}

#icon-facebook {
	background: url('sprites.png') 96px -70px;
	display: inline-block;
	height: 36px;
	width: 32px;
}

#icon-twitter {
	background: url('sprites.png') 64px -70px;
	display: inline-block;
	height: 36px;
	width: 32px;
}

#icon-vk {
	background: url('sprites.png') 32px -70px;
	display: inline-block;
	height: 36px;
	width: 32px;
}

.tab {
	display: inline-block;
	width: 25%;
	margin: 0;
	text-align: center;
	font-weight: bold;
	background-color: white;
	color: black;
	cursor: pointer;
	outline: none;
	border: none;
    text-decoration: none;
}

.tab:first-child {
}

.tab:last-child {
}

.tab:not(.active-tab):hover {
	background-color: #666;
	color: white;
}

.active-tab {
	background-color: #222;
	color: white;
}

.tab-name {
	padding: 5px 0 5px 0;
	margin-bottom: 10px;
}

.tab-name span {
	font-size: 1.4em; 
	font-weight: bold;
}

.tab-content {
	margin: 5px 10px;
	text-align: center;
	background-color: white;
}

#icon-playback {
	background: url('sprites.png') 0px -10px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-playback, .tab:not(.active-tab):hover #icon-playback {
	background: url('sprites.png') 0px -38px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-acceleration {
	background: url('sprites.png') -30px -10px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-acceleration, .tab:not(.active-tab):hover #icon-acceleration {
	background: url('sprites.png') -30px -38px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-account {
	background: url('sprites.png') -60px -10px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-account, .tab:not(.active-tab):hover #icon-account {
	background: url('sprites.png') -60px -40px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#icon-settings {
	background: url('sprites.png') -90px -10px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.active-tab #icon-settings, .tab:not(.active-tab):hover #icon-settings {
	background: url('sprites.png') -90px -38px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.jscolor {
	border: 1px solid black;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	border: none;
}

table th {
	text-align: center;
}

#playback-settings tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: none;
}

#playback-settings td {
	padding: 10px;
}

#playback-settings td:first-child {
	/* border-left: 1px solid black; */
	padding: 5px;
}

#playback-settings td:last-child {
	/* border-right: 1px solid black; */
	padding: 5px;
}

#acceleration-settings th {
	border: 1px solid black;
	padding: 2px 5px;
}

#acceleration-settings td {
	border: 1px solid black;
	padding: 5px;
}

input {
	font-family: courier; 
	text-align: center;
	border: none;
	border-bottom: 1px solid black;
}

label {
	word-wrap: break-word;
}

label input {
	vertical-align:middle;
}

.icon-play {
	width: 0;
    height: 0;
    border-width: 10px 0 10px 16px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 7px 9px
}

.icon-rewind {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid;
    margin: 7px;
}

.icon-rewind :before {
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid;
}





#simplified-header {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	padding-top: 4px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	
	color: white;
	background-color: #333;
}

#simplified-playback-settings {
	width: 90%;
	margin: 0 5%;
	border-collapse: collapse;
}

#simplified-playback-settings tr {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#simplified-playback-settings td {
	vertical-align: baseline;
	padding: 5px 0;
}

#simplified-playback-settings input {
	background-color: inherit
}

#simplified-playback-settings td:first-child {
	padding: 0 12px;
}

#simplified-playback-settings td:nth-child(2) {
	text-align: center;
	width: 25%;
}


.tutorial {
	text-align: center;
}

#tutorial-header {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	padding-top: 4px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	
	color: white;
	background-color: #333;
}

#tutorial-image {
	
}