
#vs-segmentsbar {
	height: 0; 
	overflow: visible;
	padding: 0;
	margin: 0;
	margin-top: 1px;
	
	position: absolute;
    width: 100%;
    pointer-events: none;
}

#vs-segmentsbar li {
	display: inline-block;
	height: 3px;
}

#vs-editor-icon {
	position: fixed;
	bottom: 2%;
	left: 0;
	width: 32px;
	height: 32px;
	border: 1px solid lightgray;
	border-left: 0;
	cursor: pointer;
	z-index: 3000;
}

#vs-editor-icon:hover {
	opacity: 1.0 !important;
}

#vs-segmentation-panel {
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	border: 1px solid black;
	border-bottom: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 10px;
	padding-bottom: 0;
	background-color: white;
	z-index: 3000;
	transition: bottom 0.4s linear;
}

#vs-segmentation-panel:hover {
	opacity: 1.0 !important;
}

.vs-hide-segmentation-panel {
	bottom: -20% !important;
	transition: bottom 0.4s linear;
}

#vs-segmentation-panel-buttons {
	display: flex; 
	justify-content: space-between;
}

#vs-segmentation-panel-buttons div {
	width: 10%;
}

#vs-segmentation-panel-buttons-simplified {
	display: flex; 
	justify-content: center;
}

#vs-segmentation-panel-buttons-simplified div:first-child {
	margin-right: 20px;
}

#vs-segmentation-panel-buttons-simplified div {
	width: 10%;
	min-width: 8em;
}

#vs-segmentation-panel-bar {
	display: inline-block; 
	width: 90%;
	white-space: nowrap;
	font-family: courier;
	vertical-align: top;
	overflow-x: scroll;
	/* border: 1px solid black; */
}

.vs-segmentation-panel-button-big {
	width: 75%; /* fallback */
	width: calc(100% - 2em);
	padding: 0; 
	margin-right: 0;
	border: 1px solid black; 
	border-right: none;
	cursor: pointer; 
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 3500;
}

.vs-segmentation-panel-button-small {
	width: 1.5em; 
	padding: 0; 
	margin-left: 0;
	border: 1px solid black; 
	border-left: 1px solid black;
	cursor: pointer; 
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 3500;
}

.vs-segmentation-panel-button-big:hover, .vs-segmentation-panel-button-small:hover {
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.5), 0 0 2px 2px rgba(0,0,0,0.0);
	z-index: 4000;
}

.vs-segmentation-panel-bar-entry {
	display: inline-block;
	font-family: courier;
	/* border: 1px solid black; */
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 5px;
	margin-right: 5px;
	padding-bottom: 1px;
	position: relative;
}

.vs-segmentation-panel-time-entry {
	font-family: 'Courier New';
	font-size: 14px;
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 0;
	margin: 0;
	position: relative;
}

.vs-segmentation-panel-time-entry::selection {
	background: black;
	color: white;
}

.vs-segmentation-panel-time-entry::-moz-selection {
	background: black;
	color: white;
}

.vs-segmentation-panel-bar-two-buttons, .vs-segmentation-panel-bar-one-button {
	margin: auto;
	margin-top: 5px;
}

.vs-segmentation-panel-bar-two-buttons button {
	width: 2.0em;
	padding: 0;
	margin: 0;
	margin-right: 2px;
}

.vs-segmentation-panel-bar-one-button button {
	width: 4.0em;
	padding: 0;
	margin: 0;
}

.vs-segmentation-panel-bar-entry select {
	cursor: pointer;
	font-family: courier;
	border: none;
	/* -webkit-appearance: none; */
	/* -moz-appearance: none; */
	/* appearance: none; */
}

#vs-segmentation-panel-bar-actions {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 10%;
	margin-top: 5px;
}

#vs-modal {
	display: none; 
	position: fixed; 
	z-index: 2147483647; 
	padding-top: 100px; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.8);
}

#vs-modal-content {
	background-color: #fefefe; 
	margin: auto; 
	border: 1px solid #888; 
	width: 350px;
}

.vs-messages-modal {
	display: inline-block; 
	position: fixed; 
	z-index: 2147483647;  /* youtube have pretty high z-index for top menu */
	right: 5%;
	top: -20%;
	background-color: #fff; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: top 0.4s ease;
	border-radius: 3px;
	overflow: hidden;
}

.vs-messages-modal-head {
	padding: 5px 10px;
	font-size: 180%;
	color: #000;
}

.vs-messages-modal-head-success {
	background-color: #0a0;
}

.vs-messages-modal-head-failure {
	background-color: #c00;
	color: #fff;
}

.vs-messages-modal-body {
	padding: 5px 10px;
	font-size: 140%;
}

.vs-messages-modal-animation {
	top: 10% !important;
	transition: top 0.4s ease;
}

#vs-segmentation-bar {
	display: inline-block; 
	width: 90%;
	white-space: nowrap;
	font-family: courier;
	vertical-align: top;
	overflow-x: scroll;
}

#vs-segmentation-bar-width-fixer {
	font-family: courier;
	visibility: hidden;
}

#vs-segmentation-bar select {
	cursor: pointer;
	font-family: 'Courier New';
	font-size: 14px;
	border: none;
	border-bottom: 1px solid black;
}

.vs-segmentation-panel-small-button {
	margin: 0 2px;
	padding: 0px;
	font-family: "Courier New";
	width: 2em;
	height: 16px;
	background: white;
	font-size: 10px;
	vertical-align: top;
}

.vs-segmentation-panel-small-button:focus {
	outline: none;
}







.vs-compact-editor-hovering:hover {
	opacity: 1 !important;
}

#vs-compact-editor {
	position: absolute;
	z-index: 2000;
	
	background: white;
	/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	
	padding: 2px 5px;
}

#vs-compact-editor-header {
	display: flex;
	justify-content: space-between;
}

#vs-compact-editor-header-move {
	padding: 5px 8px;
	cursor: move;
}

#vs-compact-editor-opacity * {
	vertical-align: middle;
}

#vs-compact-editor-header i {
	margin-top: 2px;
	height: 10px;
}

#vs-compact-editor-header-minimize {
	padding: 5px 8px;
	cursor: pointer;
}

#vs-compact-editor-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 8px;
	
	padding-bottom: 5px;
	border-bottom: 2px solid #ddd;
}

#vs-compact-editor-buttons button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	cursor: pointer;
	outline: none;
}

.vs-compact-editor-left-button {
    border: none;
    padding: 4px 5px 4px 5px;
	line-height: 12px;
	vertical-align: middle;
}

.vs-compact-editor-right-button {
    border: none;
	border-left: 1px solid #aaa;
    padding: 4px 5px 4px 5px;
	line-height: 12px;
	vertical-align: middle;
}

#vs-compact-editor-entries {
	padding: 4px 5px;
	border-bottom: 2px solid #ddd;
}

#vs-compact-editor-entries span, input {
	font-family: courier; 
	font-size: 12px;
}

.vs-segment-entry {
	text-align: center;
}

.vs-segment-entry input {
	text-align: center;
}

.vs-segment-start-time {
}

.vs-segment-editing-restricted {
	cursor: not-allowed;
	background-color: #f8f8f8;
	border: none;
}

.vs-segment-end-time {
	border: none;
	border-bottom: 1px solid black;
}

#vs-compact-editor-sharing {
	padding: 4px 5px 3px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#vs-share-segmentation {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	cursor: pointer;
	outline: none;
	padding: 2px 4px;
}
