body {
	width: 450px;
}

#extensionName {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 2px solid black;
}

#segmentsSettings table {
	border-collapse: collapse;
	margin: 10px auto;
}

#segmentsSettings table th {
	border: 1px solid black;
	padding: 2px 5px;
}

#segmentsSettings table td {
	border: 1px solid black;
	text-align: center;
	padding: 2px 5px;
}

.borderbot {
	border-bottom: 1px solid black;
}

.divCentered {
	text-align: center;
}

.input-color {
	font-family: courier; 
	text-align: center; 
	border: 0px;
}

.fancy-input {
	font-family: courier; 
	text-align: center; 
	border: 0px solid black; 
	border-bottom: 1px solid black;
}