body {
	width: 300px;
	background-image: url("./background.jpg");
	background-repeat: repeat;
}

#extensionName {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 2px solid black;
}

label, span {
	font-size: 11pt;
	font-family: times;
}

table {
	background-color: #ffffff;
	border-collapse: collapse;
	margin: 10px auto;
}

table th {
	border: 1px solid black;
	padding: 2px 5px;
}

table td {
	border: 1px solid black;
	text-align: center;
	padding: 2px 5px;
}

.borderbot {
	border-bottom: 1px solid black;
}

.divCentered {
	text-align: center;
}

.input-color {
	font-family: courier; 
	text-align: center; 
	border: 0px;
}

.fancy-input {
	font-family: courier; 
	text-align: center; 
	border: 0px solid black; 
	border-bottom: 1px solid black;
}

#slider {
	width: 300px;
	/* border: 1px solid black; */
	overflow: hidden;
}

#slider-body {
	width: 610px;
	-webkit-transition: -webkit-transform 0.2s linear;
}

.slide {
	vertical-align: top;
	display: inline-block;
	/* border: 1px solid red; */
	width: 300px;
}

.slide-animation-right {
	-webkit-transform:translateX(-300px);
}

.slide-animation-left {
	-webkit-transform:translateX(0px);
}