body {
	width: 300px;
	background-image: url("./background.jpg");
	background-repeat: repeat;
	text-align: center;
}

#extensionName {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 2px solid black;
}

#how-it-works {
	text-align: center;
	border-bottom: 1px solid black;
}

#how-it-works:hover {
	background-color: lightgray;
	cursor: pointer;
}

label, span {
	font-size: 11pt;
	font-family: times;
}

table {
	background-color: #ffffff;
	border-collapse: collapse;
	margin: 10px auto;
}

table th {
	border: 1px solid black;
	padding: 2px 5px;
}

table td {
	border: 1px solid black;
	text-align: center;
	padding: 2px 5px;
}

#global-settings {
	display: inline-block;
	text-align: left;
}

.borderbot {
	border-bottom: 1px solid black;
}

.divCentered {
	text-align: center;
}

.input-color {
	font-family: courier; 
	text-align: center; 
	border: 0px;
}

.fancy-input {
	font-family: courier; 
	text-align: center; 
	border: 0px solid black; 
	border-bottom: 1px solid black;
}

#slider {
	width: 300px;
	/* border: 1px solid black; */
	overflow: hidden;
}

#slider-body {
	width: 610px;
	-webkit-transition: -webkit-transform 0.2s linear;
}

.slide-filler {
	width: 20px;
	display: inline-block;
}

.slide {
	vertical-align: top;
	display: inline-block;
	/* border: 1px solid red; */
	width: 290px;
}

.slide-animation-right {
	-webkit-transform:translateX(-310px);
}

.slide-animation-left {
	-webkit-transform:translateX(0px);
}

[data-tip-speed] {
	position:relative;
	display: inline;
	font-size: 9pt;
}

[data-tip-speed]:before {
	content: '';
	display: none;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1a1a1a;	
	position: absolute;
	bottom: 20px;
	left: 15px;
	z-index: 1;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

[data-tip-speed]:after {
	display: none;
	content: attr(data-tip-speed);
	position: absolute;
	bottom: 25px;
	left: -150px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 2;
	font-size: 0.8em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre-wrap;
	word-wrap: normal;
	width: 220px;
}

[data-tip-speed]:hover:before, [data-tip-speed]:hover:after {
	display:block;
}

[data-tip-segment-descr] {
	position:relative;
	display: inline;
	font-size: 9pt;
}

[data-tip-segment-descr]:before {
	content: '';
	display: none;
	content: '';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1a1a1a;	
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

[data-tip-segment-descr]:after {
	display: none;
	content: attr(data-tip-segment-descr);
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 2;
	font-size: 1.0em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre-wrap;
	word-wrap: normal;
	width: 220px;
}

[data-tip-segment-descr]:hover:before, [data-tip-segment-descr]:hover:after {
	display: block;
}